.cards__inner {
    width: 736px;
    display: flex;
    flex-direction: column;
    

    &__p {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;

        &__day {
            display: block;
            font-family: 'Roboto Mono';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 16px;
            color: #777777;

        }

        &__design {
            display: block;
            font-family: 'Roboto Mono';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 16px;
            text-align: right;
            color: #777777;
        }
    }

    &__p2 {
        font-family: 'Roboto Mono';
        font-style: normal;
        font-weight: 400;
        font-size: 19px;
        line-height: 28px;
        color: #474747;
        margin-bottom: 22px;
    }

    &__p3 {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 12px;
        &__minut {
            font-family: 'Roboto Mono';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 16px;
            color: #777777;
        }
        &__clock
        {
            display: block;
        }
    }
}